[UNIT]
Description=Audio cd ejection
After=udisks-glue

[Service]
Type=simple

# user=pi
# group=pi

RemainAfterExit=no

ExecStart=/home/pi/Src/cd-rip/cd-rip-eject.sh

# ExecStop=killall cd-rip-eject.sh

StandardOutput=/dev/null

# StandardError=syslog

[Install]
WantedBy=multi-user.target
