# We will use a oneshot service that can be called but doesn't persist. This is
# needed because tasks called directly from udev that take longer than 60s get timed out.

[Unit]
Description=CD rip and-or play on insertion
After=udisks-glue

[Service]
Type=oneshot

# user=pi
# group=pi

RemainAfterExit=no

# Ensure that this has the same path as in 'ExecStart'.
WorkingDirectory=/home/pi/Src/cd-rip

# Ensure that this has the same path as in 'WorkingDirectory'.
ExecStart=/home/pi/Src/cd-rip/cd-rip-and-or-play.sh

ExecStop=killall -q abcde

# StandardOutput=null

# StandardError=syslog

[Install]
WantedBy=multi-user.target
